@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
